[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Uu]ser[Ss]ettings/
Logs/

# Arquivos do Unity gerados automaticamente
[Dd]ebug/
*.csproj
*.unityproj
*.sln
*.user
*.pidb
*.pdb
*.mdb
*.opendb
*.VC.db

# Builds
*.apk
*.aab
*.xcodeproj

# Pacotes de dependências
Packages/packages-lock.json
Packages/manifest.json

# Outras exclusões
sysinfo.txt
